BOT_TOKEN=ТОКЕН_ОТ_BOTFATHER
ADMIN_IDS=123456789,987654321
INTERNAL_API_TOKEN=СВОЙ_ТОКЕН

R2_ACCOUNT_ID=ВАШ_ACCOUNT_ID
R2_ACCESS_KEY_ID=ВАШ_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=ВАШ_SECRET_ACCESS_KEY
R2_BUCKET_NAME=payzi-dbs